article
{
	width : device-width;
	height : device-height;
	overflow: auto;
	position: absolute;
}


table
{
	width : 100%;
	border-collapse: collapse;
	margin-top : 2rem;

}

td
{
	border: 0px solid white;
}

td .TDnormal
{
	width : 33%;
	height : 100px;
}

td .TDgrand
{
	width : 63%;
	height : 200px;
}

td .TDdouble
{
	width : 63%;
	height : 100px;
}


.sectionHeader
{
	width : 100%;
	height : 30%;
	background-color :  rgb(52,61,67);
	border-bottom: 0px solid black;
	margin-top : 0px;
	opacity: 0.9;
	font-size : 20px;
	text-align : center;
	font-family: "Open Sans", Sans-serif;
	color : white;
	text-align: bottom;
	
}

.post
{
	width : 100%;
	height : 20%;
	border-bottom : 1px solid white;
	color : white;
	overflow : hidden;
	position : relative;

}

.grand
{
	/*width : 251px;*/
	/*min-width : 268px;*/
	min-width : 257px;
	width : 100%;
	height : 194px;
	background-color : #52b6cc;
	float : left;

}

.double
{
	min-width : 257px;
	width : 100%;
	min-height : 96px;
	background-color : #52b6cc;
	float : left;

}

.normal
{
	background-color : #52b6cc;
	min-width : 123px;
	min-height : 96px;
	background-repeat : no-repeat;
}


.sport
{
	background-color : #e7a300;
	min-width : 123px;
	min-height : 96px;
	background-repeat : no-repeat;
}

.technologie
{
	background-color : #954fa7;
	min-width : 123px;
	min-height : 96px;
	background-repeat : no-repeat;
}

.economie
{
	background-color : rgb(128,128,192);
	min-width : 123px;
	min-height : 96px;
	background-repeat : no-repeat;
}

.culture
{
	background-color : rgb(128,255,128);
	min-width : 123px;
	min-height : 96px;
	background-repeat : no-repeat;
}

.people
{
	background-color : rgb(255,128,255);
	min-width : 123px;
	min-height : 96px;
	background-repeat : no-repeat;
}



.postImg
{
	width : 30%;
	height : 100%;
	float : left;
	margin-top : -10px;
	margin-left : 8px;
	margin-bottom : 2px;
	margin-right : 10px;


}

.imageNormal
{
	width : 100%;
	height : 100%;
}
