@media all and (max-device-width: 480px)
{
    /* Vos règles CSS pour les mobiles ici */
	
	header
	{
		width : device-width;
		height : 10%;
		background-color :  rgb(52,61,67);
		border-bottom: 2px solid black;
		margin-top : 0px;
		color : white;
	}
	
	article
	{
		width : device-width;
		height : devise-height;
		background-color : black;
		overflow: auto;
		position : relative;
	}
	
	
}





article
{
	width : 400px;
	/*width : device-width;*/
	height : 500px;
	background-color : black;
	overflow: auto;
	position : relative;
}

		body
		{
			width : 100%;
			postion : relative;
		}
		
		header
		{
			width : 100%;
			background: url("header.png") repeat-x 0 0;
		}

		.subheader
		{
			background: #7f7f7f url("subheader.png") repeat-x left bottom;
			color: #c5c5c5;
			position : relative;
			top : 0px;
		}

header h1
{
	color : white;
	margin-left : 40px;
}

section h1
{
	color : orange;
	position : absolute;
	left : 140px;
	top : 0px;
}

article .divLigne
{
	width : 100%;
	height : 66%;
}

article .divGrand
{
	width : 66%;
	height : 66%;
}

article .div2
{
	width : 33%;
	height : 66%;
	border: 1px solid white;
}

article .div2
{
	width : 33%;
	height : 66%;
	border: 1px solid white;
}

.sectionHeader
{
	width : 100%;
	height : 30%;
	background-color :  rgb(52,61,67);
	border-bottom: 0px solid black;
	margin-top : 0px;
	opacity: 0.7;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size : 20px;
	text-align : center;
	
}

.post
{
	width : 100%;
	height : 20%;
	border-bottom : 1px solid white;
	color : white;
	overflow : hidden;
	position : relative;
}

.grand
{
	width : 66%;
	height : 66%;
	background-color : red;
	display : inline-block;

}

.normal
{
	width : 33%;
	height : 33%;
	background-color : orange;
	display : inline-block;
}


.postImg
{
	width : 30%;
	height : 100%;
	float : left;
	margin-top : -10px;
	margin-left : 8px;
	margin-bottom : 2px;
	margin-right : 10px;


}

.imageNormal
{
	width : 125px;
	height : 70px;
}

section .desc
{
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size : 12px;
	text-align : left;
	font-style : italic;
	color : white;
	overflow: auto;
	position : absolute;
	left : 150px;
	top : 35px;


}


section .titre
{
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size : 18px;
	text-align : left;
	font-style : bold;
	color : orange;
	overflow: auto;
	position : absolute;
	left : 140px;
	top : -4px;


}


section .date
{
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size : 10px;
	text-align : right;
	font-style : italic;
	color : grey;
	overflow: auto;
	right : 10px;
	vertical-align : top;
	position : absolute;
	top : 10px;

}

footer ul
{
	list-style-type: none;
}

footer li
{
	display: inline-block;
    margin-right: 55px;
}
footer
{
	width : 100%;
	height : 60px;
	background-color: rgb(52,61,67);
    color: white;
    opacity: 0.7;
	overflow: auto;
	word-wrap: break-word;
	position : absolute;
	bottom : 0px;
	
	
	

}

a{
	text-decoration: none;
	color : orange;
}
a:hover /* Apparence au survol des liens */
{
   text-decoration: none;
   color: red;
}